body {
  font-family: Arial, sans-serif;
  background: linear-gradient(
    to bottom,
    rgba(255, 215, 0, 0.8) 50%,
    rgba(0, 87, 183, 0.8) 50%
  );
  margin: 0;
  padding: 0;
  height: 100vh;
}

header {
  text-align: center;
  margin: 20px 0;
}

.search-form input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.search-form input:hover {
  border: solid 1px #0057b7;
}

.search-form input:focus {
  border: solid 1px #0057b7;
}

.search-form button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background-color: #0057b7;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.search-form button:hover,
.search-form button:focus {
  background-color: #0056b3;
  transform: scale(1.1);
}

.loader {
  text-align: center;
  margin: 20px 0;
}

.loader .loader-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #300aa2;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.gallery-item {
  position: relative;
  display: block;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.1);
}

.gallery-item img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.gallery-item .info {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.gallery-item .info p {
  flex: 1 1 50%;
  margin: 5px 0;
  font-size: 14px;
}

.gallery-item .info p b {
  color: #ffb400;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
